.button {
  display: flex;
  height: 4em;
  flex: 1;
  outline: 1px solid #888;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  background-color: #e0e1e6;
  color: #888;
}

.operator {
  background-color: orange;
  color: white;
}

.button:hover {
  background-color: lightgray;
}